<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars by Hiam Debsi</title>

    <!--Boostrap CSS Link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
     <!--BS Scripts Used-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
     crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
     crossorigin="anonymous"></script>

     <!-- Style for Table -->
     <style>
        td{
            text-align: left;
            width: max-content;
        }

        th{
            text-align: left;
            width:max-content;
        }
        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
    </style>

</head>

<body class="text-black" style="background-color:white;">
    <!-- Scrape Button Section -->
    <div class="container">
        <div class="jumbotron text-center border-bottom" style="background-image: url('https://images.unsplash.com/photo-1630694093867-4b947d812bf0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1915&q=80');">
            <h1 class="text-white"><small></small>Mission to Mars</small></h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        
        <!-- News Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Latest Mars News</h3>
                </div>
              </div> 
            
            <!-- Title and Paragraph -->
            <div class="row">
                <div class="col-md-12">
                    <h6>{{mission.news_title}}</h6>
                    <p>{{mission.news_p}}</p>
                </div>
            </div>

            <!-- Featured Image & Data Table-->
            <div class="row">
                <!-- Featured Image -->
                <div class="col-md-8">
                    <h3>Featured Mars Image</h3> 
                    <img src="{{mission.featured_image_url}}" style="max-width:90%; max-height: auto;"alt="Featured Mars Image">
                </div>
                <br>
                <!-- Data Table -->
                <div class="col-md-4" style="font-size: 15px; margin-bottom: 10px;">
                    <h5>Mars Facts</h5>
                    {{ mission.facts_table | safe }}
                </div>
            </div>
            <br>
            <!-- Hemisphere Images Section-->
            <div class="row">
                <div class="col-md-8 offset-4">
                    <h3 class="align-items-center">Mars Hemispheres</h3>  
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                {% for hemisphere in mission.hemisphere_images %} 
                <div class="col-3 border"> 
                    <div class="card text-white bg-dark" style="margin: 10px;">
                        <img width="auto" height="auto" src="{{ hemisphere.img_url | safe }}">
                    </div>

                    <div>
                        <h6> {{ hemisphere.title | safe }} </h6>  
                    </div>

                </div>
                {% endfor %}
            </div>
            <br>
        </div>
    </div> 
</body>
</html>